.frth-block {
    width: 100%;
}

.card-containr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* flex-wrap: wrap; */
    background-color: brown;
}

.crd {
    height: auto;
    width: 25%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all .3s ease-in;
    white-space: wrap;
}

/* .crd>* {
    padding: 10px;
} */

.crd-desc {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.crd-title {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #323334;
}

.crd-text {
    font-family: 'Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #384353;
}

.crd-image img {
    width: 100%;
}

.crd {
    width: 100%;
    align-items: center;
    padding: 0px;
}

.crd-desc {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 100%;
}


/* on media .card-containr {
    flex-wrap: nowrap;
} */